.container{
    margin-bottom: 80px;
}
.buy-now-button{
color: white;
background-color: black;
border: none;
padding: 9px 25px;
border-radius: 8px;
}

ol.carousel-indicators li {
    background-color: red;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
}

ol.carousel-indicators .active {
    background-color: white;
}
.price{
    color: orangered;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.headline a{
    padding-bottom: 30px;
}
.seeAll{
    color: orange;
}

.headline{
    padding: 10px 20px;
}
.card img{
    padding: 50px 30px 10px 30px;
}

.bottomLine{
    display: block;
    width: 12%;
    border: 2px solid orange;
    margin-left: 44%;
    
}
.catperfume{
    margin-bottom: 30px;
}

.card-footer{
    background-color: white;
    border: none;
}
#Contact{
    height: 300px;
    margin-top: 50px;
}
footer{
    text-align: center;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.card.w-100.catbag {
    margin-left: 30px;
}








